<!DOCTYPE html>
<html>
  <head>
    <title>成功頁面</title>
    <link rel="stylesheet" href="{{ url_for('static', path='week4.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="welcome">
        <h1>歡迎光臨，這是會員頁</h1>
      </div>
      <div class="login_title">
        <h2>恭喜您，成功登入系統</h2>
      </div>
      <!-- 還沒做登出功能 -->
      <!-- <button id="button" type="submit">登出</button> -->
      <!-- 調整位置 -->
      <p align="center">
        <a href="/signout">登出系統</a>
      </p>
    </div>
  </body>
</html>
