body {
  font-family: Arial, sans-serif;
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  /* max-width: 400px; */
  margin: 0 auto;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-group {
  margin-bottom: 15px;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  /* padding: 8px; */
  border: 1px solid #ccc;
  border-radius: 4px;
}
label[for="username"],
label[for="password"] {
  /* 文字跟輸入框的間隔 */
  margin-right: 10px;
}
button {
  /* text-align: center;
    align-items: center; */
  padding: 10px 20px;
  background-color: #868886;
  color: white;
  border: none;
  cursor: pointer;
  margin: auto;
  display: block;
}
.form-group {
  display: flex;
}

.form-group label {
  padding-right: 10px;
  white-space: nowrap;
  font-size: 20px;
  margin: auto;
}

.login_title {
  margin: auto;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.checkbox-wrapper label {
  margin-left: 5px;
}

.welcome {
  width: 100vw;
  margin: 0;
  background-color: #1a237e;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.welcome h1 {
  margin: auto;
}
form {
  align-self: center;
}
#returnPage {
  align-self: center;
  text-align: center;
}
.divider {
  border: 10px;
  border-top: 1px solid gray;
  margin: 40px 0;
}
/*  */
/* 留言區域特定樣式 */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  text-align: center;
}

.form-container .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container .content-label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}

.form-container textarea {
  /* width: 100%;
  padding: 8px; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 10px 20px;
  background-color: #868886;
  color: white;
  border: none;
  cursor: pointer;
}

.messages {
  margin-top: 20px;
  text-align: center;
}

/* 查詢會員姓名的輸入框與查詢按鈕 */
.search {
  display: flex;
  justify-content: center;
}

.search #usernameInput,
#nameInput {
  width: 150px;
  max-width: 400px;
  margin-right: 10px;
}

/* 查詢會員姓名 */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}
#queryButton,
#updateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 使button繼承的margin auto失效才可置中 */
  margin: unset;
}

#resultContainer,
#updateResult {
  display: flex;
  justify-content: center;

  gap: 5px;
  min-height: 50px; /* 設置最小高度 */
}
